
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Quiz 2</title>
    
  
      
    </head>
    <body>
      <div id="app" class="container">
     
        <div v-if="!isEditing">
          <input type="text" v-model="lakukan" />
          <input type="submit" value="Add" @click="storeTodo" />
        </div>
        <div v-else>
          <input type="text" v-model="lakukan" />
          <input type="submit" value="Update" @click="updateTodo" />
        </div>
  
        <ol>
          <li v-for="(lakukan, index) in users">
            {{ lakukan.name }}
            <button @click="editTodo(index, lakukan.name)">Edit</button> ||
            <button @click="removeTodo(index)">Delete</button>
          </li>
        </ol>
      </div>
  
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
      <script>
        new Vue({
          el: "#app",
  
          data: {
            isEditing: false,
            lakukan: "",
            users: [
        { 'name': "Muhammad Iqbal Mubaroq" },
        { 'name': "Rubby Purwanti" },
        { 'name': "Faqih Muhammad" },],
            selectedTodo: null,
          },
  
          methods: {
            storeTodo() {
                
              this.users.push({name: this.lakukan});
              this.lakukan = "";
            },
  
            removeTodo(index) {
              this.users.splice(index, 1);
            },
  
            updateTodo() {
              this.users.splice(this.selectedIndex, 1, {name:this.lakukan});
              this.lakukan = "";
              this.isEditing = false;
            },
  
            editTodo(index, lakukan) {
              this.isEditing = true;
              this.lakukan = lakukan;
              this.selectedIndex = index;
            },
          },
        });
      </script>
    </body>
  </html>
  
    