<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
		<h3>Membuat Search Dengan VueJS</h3>
	<div id="app">
		<input v-model="query">
 
    <div>
 <li 	v-for="(item, index) in result"
			v-bind:key="item"
			v-bind:data-index="index"
   
			>{{ item }}
		</li>
  </div>
   </div>
	</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
		new Vue({
			el: "#app",
			data: {
				query:"",
				books:[
				'Kalkulus dasar',
        'Fisika Dasar',
        'aljabar linier elementer',
        'aljabar abstrak',
        'algoritma pemrograman'
				],
				isSearching:false,
			},
			watch: {
				query: function () {
					var vm = this
					this.isSearching = true;
					setTimeout(function(){
						vm.result = vm.books.filter(function (item){
							return item.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
						})
					}, 500)
				}
			},
		});
	</script>
</body>
</html>